body{
    padding: 0px;
    /* margin: 0px; */
    box-sizing: border-box;
}


.contener{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
   
   
}
.contener1{
    width: 15%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    
}
.contener2{
    width: 45%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.contener3{
    width: 14%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.con1{
    width: 20%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
   align-items: center;
}.con2{
    width: 70%;
    height: 70px;
    /* border: 1px solid black; */
}
.con3{
    width: 85%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.con4{
    width: 15%;
    height: 70px;
    /* border: 1px solid black; */
    /* border-radius: 90px; */
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.con5{
    width: 30%;
    height: 70px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
.con6{
    width: 30%;
    height: 70px;
    /* border: 1px solid black;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.con7{
    width: 30%;
    height: 70px;
    /* border: 1px solid black;  */
    display: flex;
    justify-content: center;
    align-items: center;
}
.con1 span{
    font-size: 30px;
 
}
.input{
    width: 90%;
    height: 40px;
    border: 1px solid black;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
 
}
.button{
    width: 13%;
    height: 40px;
    /* border: 1px solid black; */
    
}
.button_input{
    width: 100%;
    height: 43px;
    margin-top: -1.5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .con4_1{
    width: 40%;
    height: 58%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    background-color: #F2F2F2;
  }
  .con4 span {
    font-size: 25px;
  }
  .con5 span{
    font-size: 25px;
  }
  .con6 span{
    font-size: 25px;
  }
  
  .con7_1{
    width: 55%;
    height: 35px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0288D1;
  }
  /* <!-- home page start --> */
  .contener_main{
    width: 100%;
    height: 1150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
  }
  .contener_main_1{
    width: 15%;
    height: 1600px;
    border: 1px solid black;
    /* position: fixed; */
   
  
  }
  .contener_main_2{
    width: 82%;
    height: 100%;
    border: 1px solid black;
    /* position: relative;
    left: 18%; */
    
  }
  .contener_main_2_1{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    
}

   .main_2_1under1{
    width: 3%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under2{
    width: 5%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under3{
    width: 5%;
    height: 35px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under4{
    width: 5%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under5{
    width: 9%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under6{
    width: 9%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under7{
    width: 5%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under8{
    width: 5%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under9{
    width: 9%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under10{
    width: 7%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(242,242,242);
   }
   .main_2_1under11{
    width: 11%;
    height: 30px;
    border: 1px solid black;
    font-size: 15px;
    font-family:"Arial";
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(237, 221, 221);
   }
   /* <!-- img start --> */

   .contener_main_2_2{
    width: 100%;
    height: 1110px;
    border: 1px solid black;
    
   }
   .img_div_1{
    width: 100%;
    height: 350px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
   }
   .img_div{
   
      width: 32.5%;
      height: 350px;
      border: 1px solid black;
 
    }
   .img_1{
    width: 100%;
    height: 250px;
    border: 1px solid black;
    
   }
   .text{
    width: 100%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    
   }
   .text_p{
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
   }
   /* home_side */

.home_side{
  width: 100%;
  height: 150px;
  border-bottom: 1px solid black;
}
.home_mian{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.home_img{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.home_mian span{
  font-size: 28px;
}
.home_text{
  width: 60%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
}
/* main2*/
.home_mian_a{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.home_img_b{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.home_mian_a span{
  font-size: 28px;
}
.home_text_c{
  width: 60%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
}
/* min3 */

.home_mian_e{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.home_img_f{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.home_mian_e span{
  font-size: 28px;
}
.home_text_g{
  width: 60%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
}
/* hom 2 div  */
.home_mian_2{
  width: 100%;
  height: 240px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.first_div{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
  
}
.second_div{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.third_div{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.fourth_div{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.last_div{
  width: 100%;
  height: 40px;
  border: 1px solid black;
  display: flex;
  margin-top: 5px;
}
.you{
  width: 30%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 600;
}
.you_2{
  width: 50%;
  height: 100%;
  /* border: 1px solid black;  */
  display: flex;
margin-left: -17px;
  align-items: center;
  
}
.first_div span{
  font-size: 16px;
}
.second_div_2{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
display: flex;
justify-content: center;
align-items: center;
}
.second_div_2 span{
  font-size: 29px;
}
.second_div_3{
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  align-items: center;
}

/* .third_div */


.third_div_2{
  width: 27%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.third_div span{
  font-size: 32px;
}
.third_div_3{
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  justify-content: start;
  align-items: center;
}
/* .fourth_div */
.fourth_div_2{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.fourth_div span{
  font-size: 25px;
}
.fourth_div_3{
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex; 
  align-items: center;
}
/* .last_div */


.last_div_2{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.last_div span{
  font-size: 25px;
}
.last_div_3{
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex; 
  align-items: center;
}
/* sunny_div_2 */

.sunny_div_3{
  width: 100%;
  height: 580px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
.sunny_div{
  width: 100%;
  margin-top: 5px;
  height: 40px;
  border: 1px solid black;
  display: flex;
}
.explor{
  width: 45%;
  height: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.explor p{
  font-size: 17px;
  font-weight: 600;
  font-family: "Roboto", "Arial", sans-serif;
}
.sunny_img{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.sunny_div span{
  font-size: 28px;
}
.sunny_text{
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
}
/* son_div */
.son_div{
  width: 100%;
height: 150px;
border-bottom: 1px solid black;

}
.son_div_1{
  width: 100%;
  margin-top: 5px;
  height: 40px;
  border: 1px solid black;
  display: flex;
}
.son_div_text{
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  align-items: center;
}
.son_div_img{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

}
                    /* .setting_main */

.setting_main{
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
}
.setting_img{
  width: 25%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

} 
.setting_div{
  width: 100%;
  margin-top: 5px;
  height: 40px;
  border: 1px solid black;
  display: flex;
}   
.setting_text{
  width: 80%;
  height: 100%;
  /* border: 1px solid black; */
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  align-items: center;
}   
.setting_div span{
  font-size: 28px;
}  
              /* .last_div_for_p          */


.last_div_for_p{
  width: 100%;
  height: 200px;
  border: 1px solid black;
} 
.text_for_p{
  width: 100%;
  height: 75px;
  border: 1px solid black;
  font-size: 15px;
  font-family: "Roboto", "Arial", sans-serif;
display: flex;
justify-content: center;
align-items: center;
margin-top: 5px;
} 
.simbol{
  margin-top: 5px;
  width: 100%;
  height: 30px;
  /* border: 1px solid black; */
  font-size: 15px;
  display: flex;
/* justify-content: center; */
align-items: center;
margin-left: 19px;
}        